<br>
<footer class="footer mt-auto py-3 bg-primary mt-5 text-center sticky-bottom sticky">
    <div class="container-fluid">
        <p class="m-0 small text-white">
            <span class="pl-3 " ><i class="fa fa-calendar-check fa-lg"></i> {{"now"|date("d/m/Y")}}</span>
            <span class="pl-3 " ><i class="fa fa-clock fa-lg"></i> {{"now"|date("h:i a")}}</span>
            <span class="pl-3"><i class="fa fa-code-branch fa-lg"></i> VERSION <strong class='version'>ALFA</strong></span>
        </p>
    </div>
</footer>