<a
    href="{{url(route ~ '_listar')}}"
    class="btn btn-outline-primary px-4
        {# {% if action == 'listar'  %} active {% endif %} #}
    "
>
    <i class="fas fa-list fa-lg"></i>
</a>
<a
    href="{{url(route ~ '_editar')}}"
    class="btn btn-outline-primary px-4
        {# {% if action == 'editar'  %} active {% endif %} #}
    "
>
    <i class="fa fa-plus fa-lg"></i>
</a>