{% extends 'base.html.twig' %}

{% block panel %}
    <div class="card border-danger rounded-lg">
        <div class="card-body sombra text-center py-5 ">

            <img src="{{asset('img/standar/bugs.png')}}" class="img-fluid" alt="img of bugs">

            <h1 class="text-danger">Acceso Limitado Temporalmente <strong>{{ exception.statuscode }}</strong></h1>
            <p class="m-0">¡Estamos trabajando en esta seccion, pronto estará disponible!</p>

            <p class="lead mt-5">¡Es todo lo que sabemos!</p>
            <p><strong>Revise su URL o <a href="{{ path('index') }}"> dirijase en la pagina de inicio</a>.</strong></p>
        </div>
    </div>
{% endblock %}